/* .nav.container{
    width: 100%;
    
}

.navbar {
    padding: 20px;
    display: grid; 
    grid-template-columns: repeat(5, auto);
    text-align: center;
    justify-content: right;
}

.navbar-menu {}

.nav-links {
    margin-right: 0.1rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: #145374;
    padding: 0.5rem;
    transition: 0.6s;
}

.nav-links:hover {
    background: #145374;
    border-radius: 5px;
    color:  #F6F5F5;
}



.nav-links-button {
    border: none;
    font-family: 'Montserrat', sans-serif;
    background: #ee6f57;
    color:  #F6F5F5;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 600;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

.nav-links-button:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.05);
}

.menu-toggle {
    display: none;
    width: 1.5rem;
    height: 0.2rem;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}

.fa-bars {
    color: #145374;;
    justify-content: right;
}

@media screen and (max-width: 960px) {
    .nav-container {
      position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background:  #145374;
    }

     */